{% extends 'admin/master.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li>
        <a href="/admin/archivo/">Listado</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">Crear</a>
    </li>
</ul>
<form action="" method="POST" class="admin-form form-horizontal" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for error in form.nombre.errors %}
        <p style="color:red;">{{ error }}</p> 
    {% endfor %}
    <fieldset>
        <div class="control-group">
            <div class="control-label">
                <label for="nombre">Archivos</label>
            </div>
            <div class="controls">
                <div>
                    <input class="form-control-file" type="file" name="file[]" multiple="">
                </div>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Salvar">
                <a href="/admin/archivo/" class="btn btn-danger">Cancelar</a>
            </div>
        </div>        
    </fieldset>
</form>
{% endblock %}